{% extends 'portfolio/base.html' %}

{% block content %}


<div class="container">
    <h1 class="text-center">Awais's Portfolio</h1>

    {% for project in projects %}
    <div class="card my-3 mx-auto" style="width: 50%;">
        <img class="card-img-top" src="{{ project.image.url }}" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">{{project.title}}</h4>
            <p class="card-text">{{project.description}}</p>
            {% if project.url %}
            <br><a class="text-dark" href="{{ project.url }}">{{ project.url }}</a> <br>
            {% endif %}
            <a href="{% url 'detail' project.id %}" class="btn btn-outline-primary">See Details</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}